a:link {
	color: #525252;
	font-weight: 700; 
	/*font-size: 14px; */
	text-decoration:none;
	}   
a:visited {
	color: #525252;
	font-weight: 700; 
	text-decoration:none;
	}  
a:hover {
	color:black;
	text-decoration:none;
	}  
a:active {
	color:white;
	text-decoration:none;
	} 

@font-face { font-family: bariol; src: url('Bariol_Regular.otf'); } 

body{
	margin: 0;
	padding: 0;
	font-family:'News Cycle', sans-serif;
	font-weight:400;
	font-size:1em;
	text-shadow: white 0px 1px 0px;
	overflow:hidden;
	color: #525252;
	}

header {
	font-size: 2em;
	font-weight: 700;
	/*color: #e2e2e2;*/
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: -320px;
	z-index: 9998;
	text-shadow: white 0px 1px 0px;
	}

#follower{
	z-index: 25;
	position:absolute;
	pointer-events: none;
	}

        #leftbox{
        	position: absolute;
        	top: -2150px;
        	left: -2395px;
        	height: 4100px;
        	width: 2010px;
        	background-color:white;
        	}
        
        #rightbox{
        	position: absolute;
        	top: -2150px;
        	left: 385px;
        	height: 4100px;
        	width:2000px;
        	background-color:white;
        	}
        
        #topbox{
        	position: absolute;
        	top: -2145px;
        	left: -400px;
        	height: 1750px;
        	width:800px;
        	background-color:white;
        	}
        
        #bottombox{
        	position: absolute;
        	top: 395px;
        	left: -400px;
        	height: 1550px;
        	width:800px;
        	background-color:white;
        	}
        
        #brightspot{
        	position: absolute;
        	width:800px;
        	height:800px;
        	top: -400px;
        	left: -400px;
        	background-image: url(brightspot.png);
        	background-size: 100%;
        	pointer-events: none;
        	}
        
#background{
	position:fixed;
    background-size: cover;
    background-image: url('color.png');
    z-index:0;
    height: 100%;
    width: 100%;
        	}

#content {
	white-space: nowrap;
	position:fixed;
	bottom: 0px;
	left:0px;
	top:0px;
	z-index: 500;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 9997;
	}

.expand {
	position: relative;
	display: inline-block;
	vertical-align: top;
	top: 50%;
	margin-top: -180px;
	box-shadow: 0px 0px 30px -10px black;
	margin-left: 30px;
	margin-right:30px;
	overflow: hidden;
	z-index:9999;
	pointer-events: auto;
	}
	
.expanded{
	width: 908px;
	height: 550px;
	top: 50%;
	margin-top: -315px;
	border-radius: 5px;
	-webkit-transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	-moz-transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	-o-transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	-ms-transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	overflow:visible;
	cursor: pointer;
	}
	
.shrunk{
	width: 260px;
	height: 360px;
	/*margin-top: -155px;*/
	-webkit-transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	-moz-transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	-o-transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	-ms-transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	transition: width .5s ease, height .5s ease, margin-top .5s ease, top .5s ease;
	cursor: pointer;
	}
	
.innerContainer {
	width: 908px;
	height:550px;
	}

.bottomlabel {
	position: absolute;
	/*height:40px;*/
	/* top:295px; */
	bottom:0px;
	left:0px;
	background-color: #f1f1f1;
	box-shadow: 3px 3px 15px -2px black;
	width: 100%;
	padding: 6px 15px 6px 15px;
	bottom: 0px;
	z-index: 9999;
	line-height: 150%;
	pointer-events:none;
	white-space: normal;
	/*color: black;*/

	-webkit-transition: bottom .5s ease, left .5s ease, background-color .5s ease;
	-moz-transition: bottom .5s ease, left .5s ease, background-color .5s ease;
	-o-transition: bottom .5s ease, left .5s ease, background-color .5s ease;
	-ms-transition: bottom .5s ease, left .5s ease, background-color .5s ease;
	transition: bottom .5s ease, left .5s ease, background-color .5s ease;

	}
	
.expanded .bottomlabel{
/* 	height:30px; */
	width: 908px;
	bottom: -80px;
	left:-15px;
	background-color: transparent;
   box-shadow: none;
   pointer-events: auto;

	-webkit-transition: bottom .5s ease, left .5s ease, background-color .5s ease;
	-moz-transition: bottom .5s ease, left .5s ease, background-color .5s ease;
	-o-transition: bottom .5s ease, left .5s ease, background-color .5s ease;
	-ms-transition: bottom .5s ease, left .5s ease, background-color .5s ease;
	transition: bottom .5s ease, left .5s ease, background-color .5s ease;

	}
	
.shrunk .description {
   display:none;
}

.expanded .description {
/*    float:right; */
/*    padding-left:250px; */
}

.title {
   float:left;
   display: block;
}

.expanded .title {
   /*height: 60px;*/
   padding-right: 30px;
   margin-right:30px;
   border-right: 1px solid gray;
}

.linklabel {
	position: absolute;
	/*background-color: #f2ff5d;*/
	background-color: black;
	box-shadow: 0px 0px 10px black;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	z-index:9999;
	/*padding: 6px;*/
	top: -5px;
	left:270px;
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); 
	-moz-transform:rotate(5deg); 
	-webkit-transform:rotate(5deg); 
	-o-transform:rotate(5deg); 
	-webkit-transition: left .5s ease;
	-moz-transition: left .5s ease;
	-o-transition: left .5s ease;
	-ms-transition: left .5s ease;
	transition: left .5s ease;
	}
	
.linklabel a{
	position: absolute;
	color: white;
	text-shadow: none;
	font-weight: 400;
	top: 20px;
	left: 20px;
	}

.expanded .linklabel{
	left:848px;
	-webkit-transition: left .5s ease;
	-moz-transition: left .5s ease;
	-o-transition: left .5s ease;
	transition: left .5s ease;
	}
		
#item1 {
	background-image: url(images/foxhdscreen.png);
	background-position: center left;
	margin-left:75px;
}

#artspeak {
	background-image: url(images/artspeakscreen.png);
	background-position: center;
}

#monica {
	background-image: url(images/monicascreen.png);
	background-position: center;
}
		
#item2 {
	background-image: url(images/amnscreen.png);
	background-position: bottom left;
}
	
#item3 {
	background-image: url(images/dknowlesscreen.png);
	background-position: center;
}
	
#item4 {
   background-image: url(images/appendixscreen.png);
	background-position: center;
}
	
#item5 {
	background-image: url(images/floatrsscreen.png);
	background-position: center;
}
	
#item6 {
	background-image: url(images/wendigoscreen.png);
	background-position: center;
}
	
#item7 {
   background-image: url(images/flashlightsscreen.png);
	background-position: left center;
	margin-right:75px;
}

